body{
    background-color: #0E1A26 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

a{
    color: #F7F4F1;
    text-decoration: none;
}

header{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.header-container{
    min-height: 100px;
    width: 100%;
    
}

.logo{
    height: 150px;
    width: 200px;
        
}

.navbutton{
    padding: 10px 25px;
    border-width: 1px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #ece4dc;
}

.navbutton:hover{
    color: #FF6C8A;
}

.introtext{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #ece4dc;
    width: 90%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #ece4dc;
    font-size: 35px;

}

.projectShowcase{
    
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.col{
    background-color: #ece4dc;
    width: 30%;
    margin-bottom: 40px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.col p{
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
    color: #0E1A26;
}

.col h2{
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    color: #0E1A26;
    font-family: 'Montserrat', sans-serif;
}

.col h3{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 50px;

}
.col h4{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: #0E1A26;
}


.col img{
    width: 100%;
    max-height: 300px;
}



.col:hover{
    transform: scale(1.05);
    background-color: #FF6C8A;
}


.projectintro{
    color: #ece4dc;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}

.gitbutton{
    
    font-family: 'Montserrat', sans-serif;
    padding: 11px 25px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 2px solid #FF6C8A;
    margin-right: auto;
    margin-left: auto;
    
}
.projectintro h2{
    font-family: 'Source Code Pro', monospace;

}

.projectimages{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.projectimages img{
    width: 90%;
    padding-bottom: 50px;

}

@keyframes slideInFromBottom {
    0% {
      transform: translatey(100%);
    }
    100% {
      transform: translateY(0);
    }
  }



/* TODO: Create a way to sort thought projects

.projectsortsection{
    text-align: center;
}

.projectnavbuttons{
    font-family: 'Montserrat', sans-serif;
    padding: 11px 25px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-left: 5px;
    border: 2px solid #FF6C8A;
}
*/
